Repository Requisitos-de-Software/2019.2-Deezer, pull requests merged in 2019-11, with the labels that each got.

#93 Mais Cenários
  docs/modelagem/cenarios/cenario10.md
  docs/modelagem/cenarios/cenario11.md
  docs/modelagem/cenarios/cenario12.md
  docs/modelagem/cenarios/cenario13.md
  docs/modelagem/cenarios/cenario14.md
  docs/modelagem/cenarios/cenario8.md
  docs/modelagem/cenarios/cenario9.md
  docs/modelagem/cenarios/cenarios.md
Labels: modelagem

#92 Atualização do planejamento
  docs/planejamento.md
Labels: documentation

#94 Post-Requirements Traceability
  docs/elicitacao/introspeccao.md
  docs/pos-rastreabilidade/backward_from.md
  docs/pos-rastreabilidade/forward_from.md
  docs/pos-rastreabilidade/pos_rastreabilidade.md
  docs/stylesheets/common.css
  mkdocs.yml
Labels: Pós-rastreabilidade

#111 Atualização do Questionário
  docs/assets/images/questionario2.0/1.png
  docs/assets/images/questionario2.0/10.png
  docs/assets/images/questionario2.0/11.png
  docs/assets/images/questionario2.0/2.png
  docs/assets/images/questionario2.0/3.png
  docs/assets/images/questionario2.0/4.png
  docs/assets/images/questionario2.0/5.png
  docs/assets/images/questionario2.0/6.png
  docs/assets/images/questionario2.0/7.png
  docs/assets/images/questionario2.0/8.png
  docs/assets/images/questionario2.0/9.png
  docs/elicitacao/questionario2.md
  docs/planejamento.md
  mkdocs.yml
Labels: elicitação
