Repository Requisitos-de-Software/2019.2-Deezer, pull requests merged in 2019-10, with the labels that each got.

#80 Reorganizing the protocol analysis
  docs/elicitacao/analise_de_protocolo.md
  docs/elicitacao/analise_de_protocolo1.md
Labels: bug

#86 NFR verification
  docs/analise/verificacao.md
  docs/analise/verificacoes/vv02.md
  docs/analise/verificacoes/vv04.md
Labels: Verificação, Wiki, documentation

#88 Verificação dos léxicos
  docs/analise/verificacao.md
  docs/analise/verificacoes/vv09.md
Labels: Verificação

#90 Validação
  docs/analise/validacao.md
  mkdocs.yml
Labels: Validação
